
:root {
    --canvas-stroke-selection: #ff0000;
    --canvas-stroke-default: #000;
    --canvas-stroke-light: #979797;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Orbitron';
    overflow: hidden; /* Prevents scrolling. */
}

.left-panel {
    font-size: 12px;
    position: absolute;
    top: 50px; /* Starts right below the menuBar */
    left: 0;
    width: 60px; /* Adjust based on your design */
    height: calc(100% - 100px); /* Taking into account menuBar and statusBar */
    background-color: #eee;
    overflow-y: auto; /* scroll if there are many tools */
    z-index: 1;  
}

#settingsPanel {
    font-size: 12px;
    display: none;
    position: absolute;
    top: 50px; 
    left: 0;
    width: 10%; 
    height: calc(100% - 100px);
    background-color: #eee;
    overflow-y: auto;
    z-index: 1;
    padding: 5px 10px 5px 10px;
}

.tool-icon {
    margin: 10px 0;
    cursor: pointer;
    /* add any other styles you want for your tools */
}

.top-menu {
    width: 100%;
    height: 50px; /* Adjust based on your design */
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;  /* Highest z-index ensures it's on top of everything */
    position: fixed; /* Keep it fixed at the top */
    top: 0;
    left: 0;
    /* padding: 5px 5px; */
}

#menuTitle {
    font-family: 'Orbitron'; /* Change this to any font you prefer */
    font-size: 24px;
    color: #f5f4f4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: auto; /* This pushes other menu items to the right */
}

#canvas-Container {
    position: relative;
    height: 100%;
}

canvas {
    cursor: default; 
    outline: none;
    background-color: #fff;
    flex: 1;
    margin-top: 60px; /* same as the height of the top menu */
    margin-left: 60px; /* same as the width of the left panel */
    overflow: hidden; /*    Hide the overflowing parts of the canvas */
}

.status-bar {
    position: fixed;     /* Keeps the status bar fixed at the bottom of the viewport. */
    bottom: 0;           /* Position at the bottom. */
    left: 0;             /* Aligns to the left. */
    width: 100%;         /* Ensures the status bar spans the full width of the viewport. */
    height: 50px;        /* Adjust as per your requirements. */
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #bbb;
    color: #343434;
    z-index: 1000;
}

.status-section {
    flex-grow: 1;               /* Allows each section to grow and take up available space */
    margin: 0 10px;             /* Some margin between sections */
    display: flex;              /* To align items vertically and horizontally */
    align-items: center;        /* Vertically centers the content */
    justify-content: center;    /* Horizontally centers the content */
}

button {
    font-family: 'Orbitron';
    margin-left: 5px;          /* Space between buttons */
    padding: 5px 10px;         /* Button padding */
}


/* 


*/
.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 32px;
    height: 32px;
    margin: 5px;
    /* cursor: pointer; */
    background-size: 24px 24px; /* Adjusted size */
    padding: 4px; 
    transition: background-color 0.3s; /* Smooth transition effect */
    box-sizing: border-box; /* To ensure the icon's total width and height includes the padding */
    background-position: center; /* Ensures the background image is centered */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
}
.icon:hover {
    background-color: rgba(110, 132, 132, 0.3); /* Semi-transparent white background on hover */
    border: 1px solid #ccc; /* Optional: add a border on hover */
}

.bottom-icon {
    position: absolute;  /* This will position the icon with respect to the left-panel */
    bottom: 0;  /* This places the icon at the bottom of the left-panel */
    width: 100%;  /* This will make it span the full width of the left-panel */
    width: 32px;
    height: 32px;
    margin: 5px;
    /* cursor: pointer; */
    background-size: 24px 24px; /* Adjusted size */
    padding: 4px; 
    transition: background-color 0.3s; /* Smooth transition effect */
    box-sizing: border-box; /* To ensure the icon's total width and height includes the padding */
    background-position: center; /* Ensures the background image is centered */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
}

.icon-separator {
    height: 2px;           /* Thickness of the separator */
    width: 70%;            /* Width relative to the icon width */
    background-color: #ccc; /* Color of the separator */
    margin: 5px 0;         /* Spacing above and below the separator */
}

.icon-selected {
    background-color: #6b7b7b;
    border-radius: 4px;
    border: 2px solid #fff;
}

#icon-pointer {
    background-image: url('../assets/icon-cursor-16.png');
}
#icon-selection {
    background-image: url('../assets/icon-selection.png');
}
#icon-line {
    background-image: url('../assets/icon-line.png');
}
#icon-arc {
    background-image: url('../assets/icon-arc.png');
}
#icon-bezier {
    background-image: url('../assets/icon-bezier.png');
}
#icon-circle {
    background-image: url('../assets/icon-circle.png');
}
#icon-square {
    background-image: url('../assets/icon-square.png');
}
#icon-cog {
    background-image: url('../assets/icon-cog.png');
}

.tooltip {
    display: none;
    position: absolute;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
}

.context-menu {
    font-family: sans-serif;
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
}
.context-menu a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
}
.context-menu a:hover {
    background-color: #f7f7f7;
}